<h1>{{#str}} view_headline, mod_spaleon, { "title": {{# quote }}{{ title }}{{/ quote }}, "user_name": {{# quote }}{{ user_name }}{{/ quote }}, "user_id": {{# quote }}{{ user_id }}{{/ quote }}, "client_id": {{# quote }}{{ client_id }}{{/ quote }} }{{/str}}</h1>
<p>{{ date }}</p>
<spn-verb-search></spn-verb-search>
<script type="module">
  require(['core/ajax'], function(ajax) {

    const init = (user_id) => {
      getUserHistory(user_id);
    }

    const getUserHistory = (user_id) => {
      const promises = ajax.call([
        {
          methodname: 'mod_spaleon_get_history',
          args: { user_id: user_id}
        },
      ]);

      promises[0].done(function(response) {
        console.log('data is', JSON.parse(response[0].data));
      }).fail(function(ex) {
        console.error('error fetching api', ex)
      });
    }

    init({{ user_id }});
  });

</script>
<script type="text/javascript" src="/mod/spaleon/js/spn-verb-search.js"></script>


